<!DOCTYPE html>
<html>
<head>
    <title>tag List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>tags List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Name str</th>
        </tr>
        {% for tag in tags %}
        <tr>
            <td>{{ tag.id }}</td>
            <td>{{ tag.tag_name }}</td>
            <td>{{ tag.tag_name_normalized }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
